{% extends 'index.html' %}
{% load static%}
{% block title %}- again{% endblock %}


{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2 class="mb-5">사진을 인식할 수 없습니다.<br>
    <span style="color:rgb(11, 247, 168)">식별표시</span>가  <strong><span style="color:rgb(11, 247, 168)">정확하게</span></strong> 나올 수 있도록 <br> 
다시 사진을 다시 찍어주세요.</h2>
    
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-warning" >Upload</button><br>
</form>
{% if post %}
            <br>
                <img src="{{ post.document.url }}", width="300"><br><br>
                    <p>Result: {{ ocrResult }}</a><br>
                        
                    {% for pill in pills %}
                        <img src ="{{pill.item_image}}" width="300" >
                        <br>
                        <p><a href="{%url 'info'%}">제품명 : {{pill.item_name}}</a></p>
            
                        <p>회사명 : {{pill.entp_name}}</p>
                        <p>식약처분류 : {{pill.class_name}}</p>
                      <p>전문/일반 : {{pill.etc_otc_name}}</p>
                      <p></p>
                  {% endfor %}

              <br>
          <a href="{% url 'final'%}" class="btn btn-outline btn-xl js-scroll-trigger">이 약이 아닙니다. </a></p>
      {% endif %}
          <br>
            <br>
            <br>
            <p><a href="{% url 'again' %}">Return to home</a></p>
</div>
</div>
<div class="col-lg-5 my-auto">
<div class="device-container">
  <div class="device-mockup iphone6_plus portrait white">
    <div class="device">
      <div class="screen">
        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
        <img src='{% static "img/13.png" %}'class="img-fluid" alt="" height = "600">
      </div>
      <div class="button">
        
        <!-- You can hook the "home button" to some JavaScript events or just remove it -->
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</header>


            
{% endblock %}