{% extends 'index.html' %}
{% block title %}- final{% endblock %}
        
        
{% block content %}
                <!-- image upload start-->
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                        <h2 class="mb-5">죄송합니다. <br>사진을 인식할 수 없습니다. <br>약학 정보원을 이용해주세요.</h2>
                        <p><a href="http://www.health.kr">약학정보원 바로가기</a></p>

                        <br>
                        <br>
                        <p><a href="{% url 'again' %}">Return to home</a></p>
                        
{% endblock %}