
{% extends 'index.html' %}
{% load static%}
{% block title %}- info{% endblock %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<img src='{% static "img/99.png" %}' width = "800" >
<img src='{% static "img/88.png" %}' width = "800" >
                <br>

    
                <!-- image upload start-->

                        <br>
                        <br>
                        <p>더 자세히 알고싶다면 <a href="http://www.health.kr"><strong>약학정보원 바로가기</strong></a></p>

                
                        <p><a href="{% url 'index' %}">Return to home</a></p>
                        
{% endblock %}